<nav class="navbar fixed-top navbar-light">
    <a class="navbar-nm" href="/home-page"><i class="fas fa-mug-hot"></i> CoffeeShow <i
            class="fas fa-mug-hot"></i></i></a>
    <form class="form-inline buttons">
        <a class="button search-coffees" href="/search-coffees" id="searchCoffeeButton"><button type="button"
                class="btn btn-dark">Search coffees <i class="fas fa-search"></i></button></a>
        <a class="button logout" href="/logout" id="logoutButton"><button type="button" class="btn btn-dark">Logout <i
                    class="fas fa-sign-out-alt"></i></button></a>
    </form>
</nav>