body {
    margin-top: 80px;
    margin-bottom: 80px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: #624B41;
    color: white;
}

h2,
h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.button {
    margin-left: 5px;
    margin-right: 5px;
}

.navbar-light {
    background-color: #9D7B6C;
}

.navbar-light .navbar-brand {
    color: rgb(255, 255, 255);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #9F7D6E;
    color: rgb(255, 255, 255);
}